@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

/* HEADER SECTION DESIGN */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'nunito', sans-serif;
}

:root{
    --bg-color: #191f36;
    --snd-bf-color: #262b40;
    --text-color: #fff;
    --main-color: #59B2F4;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    background-color: var(--bg-color);
    color: var(--text-color);
}

section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 700;
    cursor: default;
}

.navbar a {
    font-size: 1.5rem;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 700;
}

.navbar a:hover{
    color: var(--main-color);
}
.navbar a.active {
    color: red;
}

#menu-icon{
    font-size: 3.6rem;
    color: var(--text-color);
    display:grid;
}

/* HOME SECTION DESIGN */
.home{
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-content h3{
    font-size: 3.2rem;
    font-weight: 700;
    top: auto;
}

.home-content h3:nth-of-type(2){
    margin-bottom: 2rem;
}

span{
    color: var(--main-color);
}

.home-content h1{
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}

 .home-img{
    width: 25vw;
    animation: floatImage 4s ease-in-out infinite;
 }

 @keyframes floatImage {
    0%{
    transform: translateY(0);
    }
    50%{
        transform: translateY(-2.4rem);
    }
    100%{
        transform: translateY(0);
    }
 }

 .home-content p{
    font-size: 1.6rem;
 }

 .social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    font-size: 4rem;
    border-radius: 4rem;
    border: 2.5rem solid var(--text-color);
    border-image: auto;
    margin: 4rem 3.5rem 4rem 0;
    
 }

 .btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color: var(--bg-color);
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.5s ease;
 }

 .btn:hover{
    box-shadow: none;
 }

 /* ABOUT SECTION DESIGN */
 .about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: var(--snd-bf-color);
 }

 .about-img img{
    width: 35vw;
 }

 .heading{
    text-align: center;
    font-size: 4.5rem;
 }

 .about-content h2{
    text-align: left;
    line-height: 1.2;
 }

 .about-content h3{
    font-size: 2.6rem;
 }

 .about-content p{
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
 }

 /* EDUCATION SECTION DESIGN */
 .education{
   background-color: var(--bg-color);
 }

 .education .timeline{
   position: relative;
   max-width: 1200px;
   margin: 0 auto;
 }
 
 .education .timeline::after{
   content: "";
   position: absolute;
   width: 6px;
   background: var(--main-color);
   top: 0;
   bottom: 0;
   left: 50%;
   margin-left: -3px;
   z-index: 2;
 }

 .education .container{
   padding: 10px 40px;
   position: relative;
   background-color: inherit;
   width: 50%;
 }

 .education .container::after{
   content: '\f501';
   position: absolute;
   width: 25px;
   height: 25px;
   line-height: 25px;
   right: -17px;
   background-color: white;
   border-radius: 50%;
   border: 4px solid var(--main-color);
   top: 15px;
   z-index: 100;
   font-size: 1.89rem;
   text-align: center;
   font-weight: 600;
   font-family: Font Aswesome \ 5 free;
   color: black;
 }

 .education .left{
   left: 0;
 }

 .education .right{
   left: 50%;
 }

 .education .left::before{
   content: "";
   height: 0;
   position: absolute;
   top: 22px;
   width: 0;
   z-index: 1;
   right: 30px;
   border: medium solid var(--main-color);
   border-width: 10px 0 10px 10px;
   border-color: transparent transparent transparent var(--main-color);
 }

 .education .right::before{
   content: "";
   height: 0;
   position: absolute;
   top: 22px;
   width: 0;
   z-index: 1;
   left: 30px;
   border: medium solid var(--main-color);
   border-width: 10px 10px 10px 0;
   border-color: transparent var(--main-color) transparent transparent;
 }

 .education .right::after{
   left: -16px;
 }

 .education .content{
   background-color: var(--main-color);
   position: relative;
   border-radius: 6px;
   box-shadow: none;
   transition: 0.5s ease;
 }

 .education .content:hover{
   box-shadow: 0 0 1rem var(--main-color);
   transform: scale(1.02);
 }

 .education .content .tag{
   font-size: 1.5rem;
   padding-top: 1.5rem;
   margin-left: 1.5rem;
 }

 .education .content .desc{
   margin-left: 1.5rem;
   padding-left: 1.5rem;
 }

 .education .content .tag h2{
   font-size: 2rem;
   font-weight: 600;
   color: red;
 }

 .education .content .tag h3{
   font-size: 1.8rem;
   font-weight: 600;
   color: black;
 }

 .education .content .desc p{
   font-size: 1.3rem;
   font-weight: 600;
   color: black;
 }


/* SKILLS SECTION DESIGN */
.skills{
  background-color: var(--snd-bf-color);
}

.skills-container{
  background-color: var(--bg-color);
  height: 600px;
  padding: 75px 90px;
}

.skills-container h1{
  text-align: center;
  text-decoration: underline;
  text-underline-offset: 10px;
  text-decoration-thickness: 5px;
  margin-bottom: 50px;
  font-size: 2rem;
  color: red;
}

.bar{
  font-size: 23px;
}

.technical-bar .bar{
   margin: 40px 0;
}

.technical-bar .bar:first-child{
  margin-top: 0;
}

.technical-bar .bar:last-child{
  margin-bottom: 0;
}

.technical-bar .bar .indfo{
  margin-bottom: 5px;
}

.technical-bar .bar .indfo span{
  font-size: 17px;
  font-weight: 500;
  animation: showText 0.5s 1s linear forwards;
}

.technical-bar .bar .indfo span:hover{
  box-shadow: 0 0 1rem var(--main-color);
  color: red;
}

.technical-bar .bar .progress-line{
  position: relative;
  border-radius: 10px;
  width: 100%;
  height: 5px;
  background-color: var(--snd-bf-color);
  animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
  transform: scaleX(0);
  transform-origin: left;
}

@keyframes animate{
  100%{
    transform: scaleX(1);
  }
}

.technical-bar .bar .progress-line span{
  height: 100%;
  background-color: var(--main-color);
  position: absolute;
  border-radius: 10px;
  animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
  transform: scaleX(0);
  transform-origin: left;
}

.progress-line.html span{
  width: 90%;
}

.progress-line.css span{
  width: 75%;
}

.progress-line.js span{
  width: 80%;
}

.progress-line.reactjs span{
  width: 80%;
}

.progress-line.html:hover{
  box-shadow: 0 0 1rem var(--main-color);
  background-color: red;
}

.progress-line.css:hover{
  box-shadow: 0 0 1rem var(--main-color);
  background-color: red;
}

.progress-line.js:hover{
  box-shadow: 0 0 1rem var(--main-color);
  background-color: red;
}

.progress-line.reactjs:hover{
  box-shadow: 0 0 1rem var(--main-color);
  background-color: red;
}

.progress-line.html span:hover{
  background-color: #00f300;
}

.progress-line.css span:hover{
  background-color: #00f300;
}

.progress-line.js span:hover{
  background-color: #00f300;
}

.progress-line.reactjs span:hover{
  background-color: #00f300;
}


.progress-line span::after{
  position: absolute;
  padding: 1px 8px;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-size: 12px;
  top: -28px;
  right: -20px;
  animation: showText 0.5s 1.5s linear forwards;
}

.progress-line.html span::after{
  content: "90%";
}

.progress-line.css span::after{
  content: "75%";
}

.progress-line.js span::after{
  content: "80%";
}

.progress-line.reactjs span::after{
  content: "80%";
}

.progress-line span::before{
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-color: black;
  top: -10px;
  right: 0;
  animation: showText 0.5s 1.5s linear forwards;
}

@keyframes showText{
100%{
  opacity: 1;
}  
}

.professional h1{
  text-align: center;
  text-decoration: underline;
  text-underline-offset: 10px;
  text-decoration-thickness: 5px;
  margin-bottom: 0px;
  background-color: var(--bg-color);
}

.radial-bars{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  background-color: var(--bg-color);
}

.radial-bars .radial-bar{
  width: 50%;
  height: 170px;
  margin-bottom: 10px;
  position: relative;
}

.radial-bars .radial-bar svg{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
  width: 120px;
  height: 160px;
}

.radial-bars .radial .progress-bar{
  stroke-width: 10;
  stroke: var(--bg-color);
  fill: transparent;
  stroke-dasharray: 502;
  stroke-dashoffset: 502;
  stroke-linecap: round;
  animation: animate-bar 1s linear forwards;
}

@keyframes animate-bar{
  100%{
    stroke-dashoffset: -1;
  }
}

.path{
  stroke-width: 10;
  stroke: var(--main-color);
  fill: transparent;
  stroke-dasharray: 502;
  stroke-dashoffset: 502;
  stroke-linecap: round;
}

.path:hover{
  stroke: #00f300;
}

.path-1{animation: animate-path1 1s 1s linear forwards;}
.path-2{animation: animate-path2 1s 1s linear forwards;}
.path-3{animation: animate-path3 1s 1s linear forwards;}
.path-4{animation: animate-path4 1s 1s linear forwards;}

@keyframes animate-path1{
  100%{
    stroke-dashoffset: 75;
  }
}

@keyframes animate-path2{
  100%{
    stroke-dashoffset: 55;
  }
}

@keyframes animate-path3{
  100%{
    stroke-dashoffset: 45;
  }
}

@keyframes animate-path4{
  100%{
    stroke-dashoffset: 55;
  }
}

.radial-bar .percentage{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5 1s linear forwards;
    opacity: 0;
}

.radial-bar .text{
  width: 100%;
  position: absolute;
  text-align: center;
  left: 50%;
  bottom: -5px;
  transform: translateX(-50%);
  font-size: 17px;
  font-weight: 500;
  animation: showText 0.5s 1s linear forwards;
}

/* SERVICE SECTION DESIGN */
 .services h2{
    margin-bottom: 5rem;
 }

 .services-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
 }

 .services-container .services-box{
    flex: 1 1 30rem;
    background-color: var(--snd-bf-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: 0.2rem solid var(--bg-color);
    transition: 0.5s ease;
 }

 .services-container .services-box:hover{
    border-color: var(--main-color);
    transform: scale(1.02);
 }

 .services-box i{
    font-size: 7rem;
    color: var(--main-color);
 }

 .services-box h3{
    font-size: 2.6rem;
 }

 .services-box p{
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
 }

/* PROJECT SECTION DESIGN */
 .projects{
   background: var(--snd-bf-color);
 }

 .projects h2{
   margin-bottom: 4rem;
 }

 .projects-container{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   align-items: center;
   gap: 2.5rem;
 }

 .projects-container .projects-box{
   position: relative;
   border-radius: 2rem;
   box-shadow: 0 0 1rem var(--bg-color);
   overflow: hidden;
   display: flex;
 }

 .projects-box img{
   width: 100%;
   transition: 0.5s ease;
   opacity: 0.7;
 }

 .projects-box:hover img{
   transform: scale(1.1);
 }

 .projects-box .projects-layer{
   position: absolute;
   bottom: 0;

   left: 0;
   width: 100%;
   height: 100%;
   background: linear-gradient(rgba(0, 0, 0, 0.1),var(--main-color));
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   text-align: center;
   padding: 0 4rem;
   transform: translateY(100%);
   transition: 0.5s ease;
 }

 .projects-box:hover .projects-layer{
   transform: translateY(0);
 }

 .projects-layer h4{
   font-size: 3rem;
 }

 .projects-layer p{
   font-size: 1.6rem;
   margin: 0.3rem 0 1rem;
 }

 .projects-layer a{
   display: inline-flex;
   justify-content: center;
   align-items: center;
   width: 5rem;
   height: 5rem;
   background: var(--text-color);
   border-radius: 50%;
 }

 .projects-layer a i{
   font-size: 2rem;
   color: var(--snd-bf-color);
 }

 /* CONTACT SECTION DESIGN */
 .contact h2{
   margin-bottom: 3rem;
 }

 .contact form{
   max-width: 70rem;
   margin: 1rem auto;
   text-align: center;
   margin-bottom: 3rem;
 }

 .contact form .input-box{
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
 }

 .contact form .input-box input,
 .contact form textarea{
   width: 100%;
   padding: 1.5rem;
   font-size: 1.6rem;
   color: var(--text-color);
   background: var(--snd-bf-color);
   border-radius: .8rem;
   margin: .7rem 0;
 }
 
 .contact form .input-box input{
   width: 49%;
 }

 .contact form textarea{
   resize: none;
 }

 .contact form .btn{
   margin-top: 2rem;
   cursor: pointer;
 }

 /* FOOTER SECTION DESIGN */
 .footer{
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-wrap: wrap;
   padding: 2rem 9%;
   background: var(--snd-bf-color);
 }

 .footer-text{
   font-size: 1.6rem;
   justify-content: center;
   align-items: center;
 }

 .footer-icontop{
   display: inline-flex;
   justify-content: center;
   align-items: center;
   padding: 0.8rem 1rem;
   background: var(--main-color);
   border-radius: 0.8rem;
   transition: 0.5s ease;
 }

 .footer-icontop a:hover{
   box-shadow: 0 0 1rem var(--main-color);
 }

 .footer-icontop a i{
   font-size: 2.4rem;
   color: var(--bg-color);
 }

 /* BREAKDOWN */
 @media (max-width: 1200px){
   html{
      font-size: 55%;
   }
 }

 @media (max-width: 1200px){
   .header{
      padding: 2rem 3%;
   }

   section{
      padding: 10rem 3%;
   }

   .services{
      padding: 7rem;
   }

   .projects{
      padding-bottom: 7rem;
   }

   .contact{
      min-height: auto;
   }

   .footer{
      padding: 2rem 3%;
   }
 }

 @media (max-width: 768px){
   #menu-icon{
      display: block;
   }

   .navbar{
      position: absolute;
      top: 100%;
      width: 100%;
      padding: 1rem 3%;
      background: var(--snd-bf-color);
      border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
      display: none;
   }

   .navbar.active{
      display: block;
   }

   .navbar a{
      display: block;
      font-size: 2rem;
      margin: 3rem 0;
   }

   .home{
      flex-direction: column;
   }

   .home-content h3{
      font-size: 2.6rem;
   }

   .home-content h1{
      font-size: 5rem;
   }

   .home-content{
      order: 2;
   }

   .home-img img{
      width: 70vw;
      margin-top: 4rem;
   }

   .about{
      flex-direction: column;
   }

   .about-img img{
      width: 90vw;
      margin-top: 4rem;
   }

   .services h2{
      margin-bottom: 3rem;
   }

   .projects h2{
      margin-bottom: 3rem;
   }

   .projects-container{
      grid-template-columns: repeat(2, 1fr);
   }
 }

 @media (max-width: 617px){
   .projects-container{
      grid-template-columns: 1fr;
   }

   .home-img img{
      width: 80vw;
      margin-top: 8rem;
   }

   .about-img img{
      width: 100vw;
      margin-top: 4rem;
   }
 }

 @media (max-width: 450px){
   html{
      font-size: 50%;
   }

   .contact form .input-box input{
      width: 100%;
   }
 }